/* TODO: плавная анимация скрытия и показа элементов чата */
/* TODO: 
    еще текст чтобы в рамке чата летал как в DVD */

.main-chat {
  display: flex; /* грид ломается, нужен флекс*/
  flex: 1;
  flex-direction: column;
  background-color: var(--bg-secondary);
}

/* скрываем все элементы, если нет выбранного чата 
    (> * для всех всех дочерних элементов)*/
.main-chat:not(.chat-selected) .chat-header,
.main-chat:not(.chat-selected) .input-area,
.main-chat:not(.chat-selected) .messages-container > * {
  display: none;
}

/* флекс контейнер для правильной обработки*/
.main-chat:not(.chat-selected) .messages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* показываем текст */
.main-chat:not(.chat-selected) .messages-container::after {
  content: "Выберите чат для начала общения";
  color: var(--text-secondary);
  font-size: 2em;
  opacity: 0.7;
}
