/* основная область чата */
.main-chat {
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: transform 0.3s ease, background-color var(--transition-time) ease;
  position: relative;
  background-color: var(--bg-secondary);
  height: 100%;
  overflow: hidden;
  will-change: transform, background-color;
}

/* заголовок чата в sidebar */
.chat-header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  padding: 12px;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(
    from var(--bg-secondary) calc(r + 10) calc(g + 10) calc(b + 10)
  );
  border-bottom: 1px solid var(--border-color);
  height: 65px;
  transition: background-color var(--transition-time) ease,
    border-color var(--transition-time) ease;
  will-change: background-color, border-color;
}

/* Заголовок чата в самом чате */
.main-chat .chat-header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  padding: 12px;
  align-items: center;
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--border-color);
  height: 65px;
  border-radius: 0;
}

.chat-header .avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.chat-header .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* контейнер сообщений */
.messages-container {
  max-height: 100%;
  scrollbar-gutter: stable; /* резервируем место для overflow y */
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  display: grid;
  grid-auto-rows: min-content;
  gap: 8px;
  align-content: start;
  background-color: var(--bg-primary);
  position: relative;
  height: 100%;
  z-index: 1;
  will-change: background-image, background-color;
  transition: background-color var(--transition-time) ease;
}

/* стили сообщений */
.message {
  overflow-wrap: anywhere; /* перенос слов */
  white-space: pre-line; /* Улучшенная обработка переносов */
  word-break: break-word; /* альтернативный перенос на всякий*/
  max-width: calc(65% - 24px); /* учет padding-ов */
  width: fit-content; /* аналог max-content но лучше */
  word-break: keep-all; /* сохраняет целостность слов при переносе */
  padding: 8px 12px;
  border-radius: 8px;
  position: relative;
  z-index: 2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition-time) ease;
  will-change: background-color;
}

.message.received {
  background-color: var(--bg-message-received);
  justify-self: start;
}

.message.sent {
  background-color: var(--bg-message-sent);
  justify-self: end;
}

/* область ввода сообщения */
.input-area {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
  padding: 12px;
  background-color: var(--bg-secondary);
  border-top: 1px solid var(--border-color);
  transition: background-color var(--transition-time) ease,
    border-color var(--transition-time) ease;
  will-change: background-color, border-color;
}

.message-input,
#message-input {
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  outline: none;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color var(--transition-time) ease,
    color var(--transition-time) ease, border-color var(--transition-time) ease;
  will-change: background-color, color, border-color;
}

/* кнопка отправки */
.send-button {
  padding: 8px 16px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.send-button:hover {
  background-color: var(--accent-hover);
}
